#game-ui {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#red-panel, #blue-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100px;
    min-height: 100px;
    max-height: 90%;
    padding: 5px;
    border-radius: 0px;
}

#red-panel {
    background-color: rgba(0, 0, 0, 0.35);
}

#blue-panel {
    background-color: rgba(0, 0, 0, 0.35);
    flex-wrap: wrap-reverse;
}

.red-button, .blue-button {
    padding: 5px;
    color: white;
    border-radius: 0px;
    margin-top: 5px;
    font-size: 12px;
    border-color: transparent;
}

.red-button {
    background-color: rgba(191, 51, 51, 0.9);
}

.blue-button {
    background-color: rgba(51, 89, 204, 0.9);
}

/* 鼠标悬停 */
.red-button:hover {
    background-color: rgba(230, 70, 70, 1);
}

.blue-button:hover {
    background-color: rgba(75, 120, 255, 1);
}

/* 鼠标按下 */
.red-button:active {
    background-color: rgba(130, 30, 30, 1);
}

.blue-button:active {
    background-color: rgba(30, 55, 140, 1);
}